//Шрифт по умолчанию  ==================================/
$fontFamily: 'Roboto', sans-serif;

// Контейнер ===========================================/
$minWidth: 32rem;
$maxWidth: 123rem;
$lockWidth: 76.8rem;

// цвета ===============================================/
$mainColor: #194c72;
$bgColor: #173750;
$whiteColor: #fff;
$redColor: #ec1c24;
$redColorHover: #b1151a;
$whiteColorHover: #c2c2c2;
